.header {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translatey(50px);
    margin: 0 50px 0 50px;
}
.linklist {
    display: flex;
    gap: 35px;
}
.headlink {
    text-decoration: none;
}
