.header {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translatey(50px);
    margin: 0 50px 0 50px;
}
.linklist {
    display: flex;
    gap: 35px;
}
.headlink {
    text-decoration: none;
}
.menu {
    color: white;
    display: none;
}
@media (max-width: 950px) {
    .linklist {
        background-color: red;
        display: none;
    }
    .menu {
        display: inline-block;
    }
}
@media (max-width: 500px) {
    .header {
        margin: 0;
        min-width: 300px;
    }
}

