.triCont {
    display: flex;
    background-color: grey;
    justify-content: center;
    flex-wrap: wrap;
}
.contbound {
    position: relative;
    gap: 30px;
    background-color: yellow;
    justify-content: center; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
}
.cont {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    flex-wrap: wrap;
}
.imgbox {
    border-radius: 5%;
    box-shadow: 0 5px 15px 0px #0000005d;
}
img {
    position: relative;
    transition: all 0.3s;
}
a.cont:hover {
    img {
    transform: translatey(-5px);
    }
}
@media (max-width: 1600px) {
    .contbound {
        width: 90%;
    }
}
@media (max-width: 600px) {
    .contbound {
        width: 100%;
    }
}

