.triCont {
    display: flex;
    background-color: grey;
    justify-content: center;
}
.contbound {
    position: relative;
    background-color: yellow;
    gap: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    width: 70%;
}
.cont {
    margin-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}
.imgbox {
    border-radius: 5%;
    box-shadow: 0 5px 15px 0px #0000005d;
}
a.cont:hover {
    img {
    position: relative;
    transition: all 0.3s;
    transform: translatey(-5px);
    }
}


